errors.txt
bytecode-39.rpyb
py3analysis.rpyb
screens.rpyb
shaders.txt
quiz.rpyc 
quiz_gen.rpyc 
navigation.json 
persistent 
log.txt 
traceback.txt
_reload-2-LT1.save
auto-1-LT1.save
auto-10-LT1.save
auto-2-LT1.save
auto-3-LT1.save
auto-4-LT1.save
auto-5-LT1.save
auto-6-LT1.save
auto-7-LT1.save
auto-8-LT1.save
auto-9-LT1.save